<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="icon" href="./images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/favicon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
        integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/482c652b1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/<%=asset_path('home.css')%>">
    <style>
        body {
            background-image: url("../<%=asset_path('images/b5.jpg')%>");
        }
    </style>
</head>

<body>
    <nav>
        <div><img src="../<%=asset_path('images/favicon.png')%>" alt=""><span>ToDo</span></div>
        <ul>
            <!-- <p>Profile</p> -->
            <a href="/user/settings">
                <li><i class="fa-solid fa-user"></i><span>Profile Settings</span></li>
            </a>
            <a href="/user/logout">
                <li><i class="fa-solid fa-right-from-bracket"></i><span>Log Out</span></li>
            </a>
            <a>
                <li><i class="fa-solid fa-dollar-sign"></i><span>Upgrade to Pro</span></li>
            </a>
        </ul>
        <hr>
        <ul>
            <!-- <p>Profile</p> -->
            <a href="">
                <li><i class="fa-solid fa-bug"></i><span>Report Bug</span></li>
            </a>
            <a>
                <li><i class="fa-solid fa-comments"></i><span>Feedback</span></li>
            </a>
            <a>
                <li><i class="fa-solid fa-lightbulb"></i><span>Suggest Feature</span></li>
            </a>
        </ul>
    </nav>


    <!-- main section -->
    <main>


        <!-- add task form -->
        <div>
            <p id="new-task-button">New Task</p>
            <form id="add-task" action="/task/create" method="post">
                <div>
                    <textarea name="description" id="" cols="30" rows="5" placeholder="Description...."
                        required autocomplete="off"></textarea>
                    <div>
                        <input type="text" name="category" placeholder="Choose a category..." required autocomplete="off">
                        <img id="arrow" src="../<%=asset_path('images/down.png')%>" alt="">
                        <ul class="list">
                            <li>School or College</li>
                            <li>Work</li>
                            <li>Friend</li>
                            <li>Cleaning</li>
                            <li>Other</li>
                        </ul>
                    </div>
                    <input type="date" name="date" required autocomplete="off">
                </div>
                <button type="submit" class="btn" form="add-task"><i class="fa-solid fa-check"></i><span>Done</span></button>
                <button type="button" class="btn reset" form="add-task"><i
                        class="fa-solid fa-rotate-right"></i></i><span>Reset</span></button>
                <button type="button" class="btn cancel" form="add-task"><i
                        class="fa-solid fa-xmark"></i><span>Cancel</span></button>
            </form>
        </div>



        <!-- update task form  -->
        <div>
            <form id="update-task" action="/task/update" method="post">
                <div>
                    <textarea name="description" id="" cols="30" rows="5" placeholder="Description...." required
                        autocomplete="off"></textarea>
                    <div>
                        <input type="text" name="category" placeholder="Choose a category..." required autocomplete="off">
                        <img id="arrow" src="../<%=asset_path('images/down.png')%>" alt="">
                        <ul class="list">
                            <li>School or College</li>
                            <li>Work</li>
                            <li>Friend</li>
                            <li>Cleaning</li>
                            <li>Other</li>
                        </ul>
                    </div>
                    <input type="date" name="date" required autocomplete="off">
                </div>
                <button type="submit" class="btn" form="update-task"><i
                        class="fa-solid fa-arrow-up-from-bracket"></i><span>Update</span></button>
                <button type="button" class="btn reset" form="update-task"><i
                        class="fa-solid fa-rotate-right"></i></i><span>Reset</span></button>
                <button type="button" class="btn cancel" form="update-task"><i
                        class="fa-solid fa-xmark"></i><span>Cancel</span></button>
            </form>
        </div>




        <!-- rest -->
        <p><i class="fa-regular fa-hourglass-half"></i><span>Pending Tasks:</span> </p>

        <div id="task-container">
            <img id="no-task-img" class="hidden" src="../<%=asset_path('images/taskbackground.png')%>" alt="">
            <% if(user.tasks.length > 0){ %>
                <% for(let task of user.tasks) {%>
                    <div id="task-<%=task._id %>" class="task">
                        <a class="delete-link" href="/task/delete/<%=task._id %>">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                        <div>
                            <div class="description">
                                <p class="task-description">
                                    <%=task.description %>
                                </p>
                                <span>
                                    <a class="edit-link" href="" data-id="<%=task._id%>">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <i class="fa-solid fa-calendar-days"></i>
                                <p class="date">
                                    <%=task.date %>
                                </p>
                            </div>
                        </div>
                        <p class="label">
                            <%=task.category %>
                        </p>
                    </div>
                <% } %>
            <% }%>
        </div>
    </main>
    <script>
                <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                type: 'success',
                layout: 'topCenter',
                text: '<%= flash.success %>',
                timeout: 2000,
                sounds: {
                    sources: ['../sounds/signin.mp3', '../sounds/signin2.mp3'],
                    volume: 1
                }

            }).show();
                <% } else if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                type: 'error',
                layout: 'topCenter',
                text: '<%= flash.error %>',
                timeout: 2000,
                sounds: {
                    sources: ['../sounds/signin.mp3', '../sounds/signin2.mp3'],
                    volume: 1
                }

            }).show();
                <% } %>
    </script>
    <script type="text/javascript" src="../<%=asset_path('js/home.js') %>"></script>
</body>

</html>