<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settings</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/482c652b1c.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/<%=asset_path('settings.css')%>">
    <style>
        body {
            background-image: url("../<%=asset_path('images/b5.jpg')%>");
        }
    </style>
</head>

<body>
    <section id="nav">
        <a href="/home"><i class="fa-solid fa-arrow-left"></i></a>
        <h1>Settings</h1>
        <p><i class="fa-solid fa-address-card"></i><span>profile</span></p>
        <p><i class="fa-solid fa-brush"></i><span>theme</span></p>
        <p><i class="fa-solid fa-sliders"></i><span>customisations</span></p>
    </section>

    <section id="content">
        <div id="profile">
            <img src="<%=user.avatar %>" alt="<%=user.name %>">
            <div>
                <p id="name">
                    <%=user.name %>
                </p>
                <span>
                    <%=user.email %>
                </span>
            </div>
            <div id="buttons">
                <a id="edit-button">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="/user/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        </div>
        <form class="expand" id="update-form" action="/user/update" method="post" enctype="multipart/form-data">
            <label for="name">New name</label>
            <input id="name" type="text" name="name" value="<%=user.name%>" required>
            <label for="upload"><img src="<%=user.avatar%>" alt=""><i class="fa-solid fa-upload"></i></label>
            <input type="file" id="upload" name="avatar">
            <div id="preview"></div>
            <button type="submit" class="btn">Update</button>
            <button id="cancel" type="button" class="btn">Cancel</button>
        </form>
    </section>
    <script type="text/javascript" src="../<%=asset_path('js/settings.js')%>"></script>
</body>

</html>
