 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/<%=asset_path('images/favicon.png')%>">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
        integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <link rel="stylesheet" sizes="1086x1086" href="/css/<%=asset_path('unknown.css')%>">
    <style>
        body {
            background-image: url("../<%=asset_path('images/b5.jpg')%>");
        }
    </style>
</head>
<body>
    <nav>
        <div>
            <img src="/images/favicon.png" alt="">
            <span>ToDo</span>
        </div>
        <a class="nav-link" href="">About</a>
        <a class="nav-link" href="">Documentation</a>
        <a class="nav-link" href="">Contributors</a>
        <a class="nav-link" href="">Pricing</a>
        <a href="/user/signup"><span>Get Started</span></a>
    </nav>
    <h1>Welcome <br>To your ultimate <br>task companion</h1>
    <script>
                    <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                type: 'success',
                layout: 'topCenter',
                text: '<%= flash.success %>',
                timeout: 2000,
                sounds: {
                    sources: ['../sounds/signin.mp3', '../sounds/signin2.mp3'],
                    volume: 1
                }

            }).show();
                    <% }else if (flash.error && flash.error.length > 0){ %>
            new Noty({
                theme: 'relax',
                type: 'error',
                layout: 'topCenter',
                text: '<%= flash.error %>',
                timeout: 2000,
                sounds: {
                    sources: ['../sounds/signin.mp3', '../sounds/signin2.mp3'],
                    volume: 1
                }

            }).show();
                    <% } %>
    </script>
</body>
</html>