<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/favicon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
        integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/482c652b1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/<%=asset_path('user-signin.css')%>">
    <style>
        body {
            background-image: url("../../<%=asset_path('images/b5.jpg')%>");
        }
    </style>
</head>

<body>
    <main>
        <form id="signin-form" action="/user/authorize" method="post">
            <div class="container">
                <label for="name">Enter you user name:</label>
                <input id="user-name" type="text" name="email" required>
            </div>
            <div class="container">
                <label for="password">Enter the password:</label>
                <input id="password" type="password" name="password" required>
                <i class="fa-regular fa-eye-slash"></i>
            </div>
            <a id="forgot-password" href="/user/forgot-password" target="_blank">forgot password?</a>
            <button form="signin-form" type="submit">sign in</button>
            <a href="/"><button type="button">back</button></a>
        </form>
    </main>
    <div id="google"><a href="/user/auth/google"><img src="../<%=asset_path('images/search.png')%>" alt=""><span>Sign in/Sign up with
                Google</span></a></div>
    <a id="signup" href="/user/signup">dont have an account? sign up</a>
    <script>
                    <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                type: 'success',
                layout: 'topCenter',
                text: '<%= flash.success %>',
                timeout: 2000,
                sounds: {
                    sources: ['../sounds/signin.mp3', '../sounds/signin2.mp3'],
                    volume: 1
                }

            }).show();
                    <% } else if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                type: 'error',
                layout: 'topCenter',
                text: '<%= flash.error %>',
                timeout: 2000,
                sounds: {
                    sources: ['../sounds/signin.mp3', '../sounds/signin2.mp3'],
                    volume: 1
                }

            }).show();
                    <% } %>
    </script>
    <script type="text/javascript" src="../<%=asset_path('js/user-signin.js')%>"></script>
</body>

</html>